/* Aqui vão os estilos do site */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
}

.home-title {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -2.5px;
  color: #000000;
  position: relative;
}

.post-card {
}

.big-section-img {
  width: 100%;
  position: absolute;
}

.big-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
